<div class="row" ng-controller="ProfileController">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center"><strong>Profile</strong> Details</h2>
            <hr>
        </div>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputUsername" class="col-sm-3 control-label">Username</label>
                <div class="col-sm-7">
                    <input ng-model="user.username" type="text" class="form-control" id="inputUsername" placeholder="Username" readonly>
                </div>
            </div>
            <div class="form-group">
                <label for="inputName" class="col-sm-3 control-label">Name</label>
                <div class="col-sm-7">
                    <input ng-model="user.name" type="text" class="form-control" id="inputName" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-sm-3 control-label">Email</label>
                <div class="col-sm-7">
                    <input ng-model="user.email" type="email" class="form-control" id="inputEmail" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-sm-3 control-label">Password</label>
                <div class="col-sm-7">
                    <input ng-model="user.password" type="password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress" class="col-sm-3 control-label">Street Address</label>
                <div class="col-sm-7">
                    <input ng-model="user.streetAddress" type="text" class="form-control" id="inputAddress" placeholder="Street Address">
                </div>
            </div>
            <div class="form-group">
                <label for="inputCity" class="col-sm-3 control-label">City</label>
                <div class="col-sm-7">
                    <input ng-model="user.city" type="text" class="form-control" id="inputCity" placeholder="City">
                </div>
            </div>
            <div class="form-group">
                <label for="inputState" class="col-sm-3 control-label">State</label>
                <div class="col-sm-7">
                    <input ng-model="user.state" type="text" class="form-control" id="inputState" placeholder="State">
                </div>
            </div>
            <div class="form-group">
                <label for="inputCountry" class="col-sm-3 control-label">Country</label>
                <div class="col-sm-7">
                    <input ng-model="user.country" type="text" class="form-control" id="inputCountry" placeholder="Country">
                </div>
            </div>
            <div class="form-group">
                <label for="inputZipcode" class="col-sm-3 control-label">Zipcode</label>
                <div class="col-sm-7">
                    <input ng-model="user.zipcode" type="text" class="form-control" id="inputZipcode" placeholder="Zipcode">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAccountType" class="col-sm-3 control-label">Account Type</label>
                <div class="col-sm-7">
                    <select ng-model="user.accountType" class="form-control" id="inputAccountType">
                        <option>Individual</option>
                        <option>Organization</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-3">
                    <a ng-click="update(user)" class="btn btn-primary form-control">Update Profile</a>
                </div>
            </div>
        </form>
        <div class="clearfix"></div>
    </div>
</div>

