<div ng-controller="AdoptPetSearchController as model">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Search for
                    <strong>Your Next Best Friend</strong>
                </h2>
                <hr>
            </div>
            <form class="form-inline">
                <div class="form-group">
                    <label for="type" class="col-md-2 control-label">Type</label>
                    <br/>
                    <div class="col-md-2">
                        <select ng-model="model.pet.type" class="form-control" id="type">
                            <option value="dog">Dog</option>
                            <option value="cat">Cat</option>
                            <option value="bird">Bird</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="location" class="col-md-2 control-label">
                        Location<span class="asterisk_input">*</span>
                    </label>
                    <br/>
                    <div class="col-md-2">
                        <input type="text" ng-model="model.pet.location" class="form-control" id="location" placeholder="ex: 02120">

                    </div>
                </div>
                <div class="form-group">
                    <label for="breed" class="col-md-2 control-label">Breed</label>
                    <br/>
                    <div class="col-md-2">
                        <select ng-model="model.pet.breed" class="form-control" id="breed">
                            <option value="Labrador Retriever">Labrador Retriever</option>
                            <option value="Golden Retriever">Golden Retriever</option>
                            <option value="Terrier">Terrier</option>
                            <option value="Beagle">Beagle</option>
                            <option value="Chihuahua">Chihuahua</option>
                            <option value="Birman">Birman</option>
                            <option value="Domestic Short Hair">Domestic Short Hair</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="age" class="col-md-2 control-label">Age</label>
                    <br/>
                    <div class="col-md-2">
                        <select ng-model="model.pet.age" class="form-control" id="age">
                            <option value="Baby">Baby</option>
                            <option value="Young">Young</option>
                            <option value="Adult">Adult</option>
                            <option value="Senior">Senior</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="size" class="col-md-2 control-label">Size</label>
                    <br/>
                    <div class="col-md-2">
                        <select ng-model="model.pet.size" class="form-control" id="size">
                            <option value="S">Small</option>
                            <option value="M">Medium</option>
                            <option value="L">Large</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="gender" class="col-md-2 control-label">Gender</label>
                    <br/>
                    <div class="col-md-2">
                        <select ng-model="model.pet.gender" class="form-control" id="gender">
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <br/>
                    <div class="col-md-2">
                        <a ng-click="model.searchPets(model.pet)" class="btn btn-primary form-control">Find Pets</a>
                    </div>
                </div>
            </form>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="row hidden-xs" ng-show="model.data">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Adoptable
                    <strong>Pets</strong>
                </h2>
                <hr>
                <div class="table-responsive">
                <table class="table table-stripped table-bordered">
                    <thead>
                    <tr>
                        <th>Picture</th>
                        <th>Name</th>
                        <th>Animal</th>
                        <th>Breed</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="pet in model.data.petfinder.pets.pet">
                        <td><img ng-src="{{pet.media.photos.photo[0].$t}}"/></td>
                        <td><a href="#/adoptPetDetails/{{pet.id.$t}}">{{pet.name.$t}}</a></td>
                        <td>{{pet.animal.$t}}</td>
                        <td>{{pet.breeds.breed.$t}}</td>
                        <td>{{pet.age.$t}}</td>
                        <td>{{pet.sex.$t}}</td>
                        <td>
                            <span ng-switch="pet.status.$t">
                                <ANY ng-switch-when="A">Adoptable</ANY>
                                <ANY ng-switch-when="H">Hold</ANY>
                                <ANY ng-switch-when="P">Pending</ANY>
                                <ANY ng-switch-when="X">Already Adopted</ANY>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>

    <div class="box visible-xs" ng-show="model.data" ng-repeat="pet in model.data.petfinder.pets.pet">
        <h3 class="bold-font"><a href="#/adoptPetDetails/{{pet.id.$t}}">{{pet.name.$t}}</a></h3>
        <h4 class="text-transform-inherited" ng-show="pet.animal.$t">
            Animal  &nbsp;: {{pet.animal.$t}}</h4>
        <h4 class="text-transform-inherited" ng-show="pet.breeds.breed.$t">
            Breed &nbsp;&nbsp;&nbsp;&nbsp;: {{pet.breeds.breed.$t}}</h4>
        <h4 class="text-transform-inherited" ng-show="pet.age.$t">
            Age &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{pet.age.$t}}</h4>
        <h4 class="text-transform-inherited" ng-show="pet.sex.$t">
            Sex &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{pet.sex.$t}}</h4>
        <h4 class="text-transform-inherited" ng-show="pet.status.$t">
            Status &nbsp;&nbsp;&nbsp;:
            <span ng-switch="pet.status.$t">
                <ANY ng-switch-when="A">Adoptable</ANY>
                <ANY ng-switch-when="H">Hold</ANY>
                <ANY ng-switch-when="P">Pending</ANY>
                <ANY ng-switch-when="X">Already Adopted</ANY>
            </span>
        </h4>
    </div>
</div>


