.empty {
    display: inline-block;
    width: 30px;
}

.row {
    clear: both;
}
.col-6 {
    float: left;
    width: 400px;
}

.col-3 {
    margin-left: 50px;
    float: left;
    width: 100px;
}

.container {
    margin: auto;
    width: auto;
}

.box {
    width: auto;
    height: auto;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 15px;
}

.form-horizontal .control-label{
    text-align:left;
}

.whitespace-no-wrap {
    white-space: nowrap;
}

.form-element-decoration {
    text-decoration: none;
    color: black;
}
