.align-bottom {
    vertical-align: bottom;
    margin: 0;
}

.customHr {
    width: 85%;
    font-size: 1px;
    color: rgba(0, 0, 0, 0);
    line-height: 1px;

    background-color: grey;
    margin-top: -6px;
    margin-bottom: 10px;
}

.hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
}