<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Share <strong>Your Story</strong>
            </h2>
            <hr>
        </div>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputPicture" class="col-sm-3 control-label">Picture</label>
                <div class="col-sm-7">
                    <input type="file" class="form-control" id="inputPicture" placeholder="Upload Image">
                </div>
            </div>
            <div class="form-group">
                <label for="inputTitle" class="col-sm-3 control-label">Title</label>
                <div class="col-sm-7">
                    <input type="email" class="form-control" id="inputTitle" placeholder="Title of Your Story">
                </div>
            </div>
            <div class="form-group">
                <label for="inputStory" class="col-sm-3 control-label">Story</label>
                <div class="col-sm-7">
                    <textarea id="inputStory" class="form-control" rows="3" placeholder="Enter you Story Here"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="inputShareType" class="col-sm-3 control-label">Share Anonymously</label>
                <div id="inputShareType" class="col-sm-7">
                    <div class="radio">
                        <label>
                            <input type="radio" name="share" id="optionsRadios1" value="Yes" checked>Yes
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="share" id="optionsRadios2" value="No">No
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-2">
                    <a href="#" class="btn btn-primary form-control">Share</a>
                </div>
            </div>
        </form>
        <div class="clearfix"></div>
    </div>
</div>
