<div ng-controller="AdminController as model">
    <h1 class="page-header">Admin</h1>
    <h2 class="page-header">Users</h2>
    <div class="table-responsive">
        <table class="table table-striped table-bordered whitespace-no-wrap">
            <thead>
            <tr class="active">
                <th ng-click="model.Sort('username', userNameBottom)">
                    <span type="button" class="glyphicon glyphicon-triangle-bottom" ng-show="userNameBottom == -1"></span>
                    <span type="button" class="glyphicon glyphicon-triangle-top" ng-show="userNameBottom == 1"></span>
                    Username
                </th>
                <th>Password</th>
                <th ng-click="model.Sort('firstName', firstNameBottom)">
                    <span type="button" class="glyphicon glyphicon-triangle-bottom" ng-show="firstNameBottom == -1"></span>
                    <span type="button" class="glyphicon glyphicon-triangle-top" ng-show="firstNameBottom == 1"></span>
                    First Name
                </th>
                <th ng-click="model.Sort('lastName', lastNameBottom)">
                    <span type="button" class="glyphicon glyphicon-triangle-bottom" ng-show="lastNameBottom == -1"></span>
                    <span type="button" class="glyphicon glyphicon-triangle-top" ng-show="lastNameBottom == 1"></span>
                    Last Name
                </th>
                <th>Role</th>
                <th>
                    <span type="button"></span>Action
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class="row-fluid form-inline">
                        <input ng-model="model.user.username" class="form-control input-sm" type="text"  placeholder="username">
                    </div>
                </td>
                <td>
                    <div class="row-fluid form-inline">
                        <input ng-model="model.user.password" class="form-control input-sm" type="text" placeholder="password">
                    </div>
                </td>
                <td>
                    <div class="row-fluid form-inline">
                        <input ng-model="model.user.firstName" class="form-control input-sm" type="text"  placeholder="First Name">
                    </div>
                </td>
                <td>
                    <div class="row-fluid form-inline">
                        <input ng-model="model.user.lastName" class="form-control input-sm" type="text" placeholder="Last Name">
                    </div>
                </td>
                <td>
                    <div class="row-fluid form-inline">
                        <input ng-model="model.user.roles" class="form-control input-sm" type="text" id="inputRole4" placeholder="role1,role2">
                    </div>
                </td>
                <td class="whitespace-no-wrap">
                    <span type="button" class="glyphicon glyphicon-plus btn btn-default" ng-click="model.createUser(model.user)"> </span>
                    <span type="button" class="glyphicon glyphicon-ok btn btn-default" ng-click="model.updateUser(model.user)"></span>
                </td>

            </tr>
            <tr ng-repeat="user in model.users">
                <td>{{user.username}}</td>
                <td></td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.roles.join(",")}}</td>
                <td class="whitespace-no-wrap">
                    <span type="button" class="glyphicon glyphicon-remove btn btn-default" ng-click="model.deleteUser($index)"> </span>
                    <span type="button" class="glyphicon glyphicon-pencil btn btn-default" ng-click="model.selectUser($index)"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
