<div ng-controller="AdoptPetDetailsController">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">About
                    <strong>{{petDet.petfinder.pet.name.$t}}</strong>
                </h2>
                <hr>
                <img class="img-responsive img-border img-left" ng-src={{petDet.petfinder.pet.media.photos.photo[0].$t}} />
                <hr class="visible-xs">
                <p>
                    {{petDet.petfinder.pet.description.$t}}
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center"><strong>Contact</strong>
                </h2>
                <hr>
                <p>
                    <h4>{{petDet.petfinder.pet.contact.name.$t}}</h4>
                    <h4>{{petDet.petfinder.pet.contact.phone.$t}}</h4>
                    <h4>{{petDet.petfinder.pet.contact.email.$t}}</h4>
                </p>
            </div>
        </div>
    </div>
</div>