<div ng-controller="AnimalOrgSearchController as model">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Search for
                    <strong>Animal Welfare Organizations</strong>
                </h2>
                <hr>
            </div>
            <form class="form-inline">
                <div class="form-group col-md-offset-1">
                    <label for="name" class="col-sm-4 control-label">Name</label>
                    <br/>
                    <div class="col-md-4">
                        <input ng-model="model.org.name" type="text" class="form-control" id="name" placeholder="Name of Organization">
                    </div>
                </div>
                <div class="form-group col-md-offset-1">
                    <label for="location" class="col-md-2 control-label">Location</label>
                    <br/>
                    <div class="col-md-4">
                        <input ng-model="model.org.location" type="text" class="form-control" id="location" placeholder="ex: 02120">
                    </div>
                </div>
                <div class="form-group col-md-offset-2">
                    <br/>
                    <div>
                        <a ng-click="model.searchOrg(model.org)" class="btn btn-primary form-control">Search</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row hidden-xs" ng-show="model.data">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Animal <strong>Welfare</strong>
                    Organizations
                </h2>
                <hr>
                <div class="table-responsive">
                <table class="table table-stripped table-bordered">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>City</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <!--<th>ID</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="shelter in model.data.petfinder.shelters.shelter">
                        <td><a href="#/animalOrgDetails/{{shelter.id.$t}}">{{shelter.name.$t}}</a></td>
                        <td>{{shelter.city.$t}}</td>
                        <td>{{shelter.email.$t}}</td>
                        <td>{{shelter.phone.$t}}</td>
                        <!--<td>{{shelter.id.$t}}</td>-->
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>

    <div class="box visible-xs" ng-show="model.data" ng-repeat="shelter in model.data.petfinder.shelters.shelter">
        <h3 class="bold-font"><a href="#/animalOrgDetails/{{shelter.id.$t}}">{{shelter.name.$t}}</a></h3>
        <h4 class="text-transform-inherited">City  &nbsp;&nbsp;&nbsp;&nbsp;: {{shelter.city.$t}}</h4>
        <!--<h4 class="text-transform-inherited">Email &nbsp;&nbsp;: {{shelter.email.$t}}</h4>-->
        <h4 class="text-transform-inherited">Phone &nbsp;&nbsp;: {{shelter.phone.$t}}</h4>
    </div>

</div>
